@using HotelApp.Database.Entities

<td>@reservation.Id</td>
<td>@reservation.GuestId</td>
<td>@guest.LastName</td>
<td>@guest.FirstName</td>
<td>@room.RoomNumber</td>
<td>@room.Type</td>
<td>@room.PricePerNight PLN</td>
<td>@reservation.CheckInDate</td>
<td>@reservation.CheckOutDate</td>
<td>@reservation.TotalPrice PLN</td>
<td><button class="EditButton" @onclick="Edit">Edit</button></td>
<td><button class="DeleteButton" @onclick="Delete">Delete</button></td>

@inject NavigationManager Navigation
@code {
	[Parameter]
	public Reservation reservation { get; set; }
	[Parameter]
	public Guest guest { get; set; }
	[Parameter]
	public Room room { get; set; }
	[Parameter]
	public EventCallback<int> DeleteReservation { get; set; }

	private void Delete()
	{
		DeleteReservation.InvokeAsync(reservation.Id);
	}

	private void Edit()
	{
		Navigation.NavigateTo($"/updatereservation/{reservation.Id}");
	}
}
